<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="RegisterDeviceUrl" value="/RegisterDevice"/>
		<add key="UpdateHeartBeatUrl" value="/UpdateServerHeartBeat"/>
		<add key="UpdateMonitoringDetails" value="/UpdateMonirotingDetails"/>
		<add key="DnsAlias" value=""/>
		<add key="GetTimerIntervalUrl" value="/GetTimerIntervals"/>
		<add key="GetAppSettingsUrl" value="/GetAppSettings"/>
	</appSettings>
</configuration>