<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="RegisterDeviceUrl" value="/RegisterDevice"/>
		<add key="UpdateHeartBeatUrl" value="/UpdateHeartBeat"/>
		<add key="UpdateMonitoringDetails" value="/UpdateMonirotingDetails"/>
		<add key="WebServicedomainAlias" value=""/>
		<add key="GetTimerIntervalUrl" value="/GetTimerIntervals"/>
		<add key="GetAppSettingsUrl" value="/GetAppSettings"/>
		<add key="GetPingDevicesDetailsUrl" value="/GetOtherDevicesDetails"/>
		<add key="UpdateDeviceStatusUrl" value="/UpdateDeviceStatus"/>
		<add key="GetAccessPointDetailsUrl" value="/GetAccessPointDetails"/>
	</appSettings>
</configuration>