@{
    ViewBag.Title = "Slides";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="content-wrapper">
    <section class="content">
        <h4 class="mt-3">DashBoards</h4>
        <a href="/DashBoard/CreateDashBoard">
            <!-- <i class="far fa-circle nav-icon"></i> -->
            <p>Create DashBoard</p>
        </a>
        <table id="tblSlides" class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col">DashBoard Id</th>
                    <th scope="col">DashBoard Name</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </section>
</div>
@section Scripts
{
    <script type="text/javascript">
        LoadDashBoardData();

        function removeRow(thisObj) {
            var $row = $(thisObj).closest("tr");
            var $firstrow = $row.find('td:eq(0)').text();
            console.log($firstrow);
            removeRowData($firstrow);
            //// Finds the closest row <tr>
            //    $tds = $row.find("td");             // Finds all children <td> elements
        }
        function LoadDashBoardData() {
            $("#tblSlides tbody tr").remove();
            $.ajax({
                type: 'GET',
                url: '/DashBoard/GetDashBoards',
                dataType: 'json',
                data: {},
                success: function (data) {
                    var items = '';
                    $.each(data, function (i, item) {
                        var rows = "<tr>"
                            + "<td class='prtoducttd'>" + item.DashBoardId + "</td>"
                            + "<td class='prtoducttd'>" + item.DashBoardName + "</td>"
                            + "<td><button  class='btn btn-success' ><i class='fas fa-edit' onclick='EditRow($(this))'></i></button> &nbsp;<button class='btn btn-danger' onclick='removeRow($(this))'><i class='far fa-trash-alt'></i></button></td>"
                            + "</tr>";
                        $('#tblSlides tbody').append(rows);
                    });
                },
                error: function (ex) {
                    var r = jQuery.parseJSON(response.responseText);
                    alert("Message: " + r.Message);
                    alert("StackTrace: " + r.StackTrace);
                    alert("ExceptionType: " + r.ExceptionType);
                }
            });
            return false;
        }

        function removeRowData(rowdata) {

            $.ajax({
                type: 'GET',
                url: '/DashBoard/DeleteDashBoard',
                dataType: 'json',
                data: { dashBoardId: rowdata},
                success: function (data) {

                },
                error: function (ex) {
                    //var r = jQuery.parseJSON(response.responseText);
                    //alert("Message: " + r.Message);
                    //alert("StackTrace: " + r.StackTrace);
                    //alert("ExceptionType: " + r.ExceptionType);
                }
            });
            LoadDashBoardData();

            return false;
        }

        function EditRowData(rowdata) {
            window.location.href = '/DashBoard/EditDashBoard?dashBoardId=' + rowdata;
        }

        function EditRow(thisObj) {
            var $row = $(thisObj).closest("tr");
            var $currentrow = $row.find('td:eq(0)').text();
            EditRowData($currentrow);
        }

    </script>
}



