<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<appSettings>
		<add key="IncludeFileExtensions" value="*.docx,*.txt" />
		<add key="ExcludeFolders" value="x" />
		<add key="BackupFilePath" value="D:\ServerFolder" />
		<add key="FoldersToScan" value="C:\Vamsi" />
		<add key="ExcludeFileExtensions" value="*.docx,*.txt" />
		<add key="BackupType" value="local" />
		<add key="CloudBackupProvider" value="AWS" />
		<add key="VersionstoKeep" value="3" />
		<add key="EncryptionKey" value="helloworld" />
		<add key="canscan" value="true" />
		<add key="canwatch" value="true" />
		<add key="canupload" value="true" />
		<add key="canInventory" value="true" />
		<add key="HardwareInventoryFileName" value="HardwareInventory.json" />
		<add key="SoftwareInventoryFileName" value="SoftwareInventory.json" />
		<add key="OutputFileName" value="FileInfo.json" />
		<add key="FullBackupFileName" value="FullbackupFileInfo.json" />
		<add key="BackupWebServiceUrl" value="http://localhost:82/UpdateBackupResult" />
		<add key="ConfigWebServiceUrl" value="http://localhost:82/GetConfig?SystemId={0}" />
		<add key="HardWareInventoryWebServiceUrl" value="/UpdateHardwareInventory" />
		<add key="SoftWareInventoryWebServiceUrl" value="/UpdateSoftwareInventory" />
		<add key="ModulesWebServiceUrl" value="/GetModules?SystemId={0}" />
		<add key="ConfigMasterWebServiceUrl" value="/GetConfigMaster?SystemId={0}" />
		<add key="GetBackupRequestWebServiceUrl" value="/GetBackupRequests?SystemId={0}" />
		<add key="UpdateBackupRequestWebServiceUrl" value="/UpdateBackupRequests" />

	</appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.6.0" newVersion="4.0.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>